<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Recipe Book</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a *ngIf="isAuthenticated" class="recipes" [routerLink]="['/recipes']">Recipes</a>
        </li>
        <li routerLinkActive="active">
          <a *ngIf="!isAuthenticated" class="auth" [routerLink]="['/auth']">Authenticate</a>
        </li>
        <li routerLinkActive="active"><a class="shopping" [routerLink]="['/shopping-list']">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="isAuthenticated" (click)="onLogout()" style="cursor: pointer">Logout</a></li>
        <li *ngIf="isAuthenticated" appDropdown class="dropdown">
          <a style="cursor: pointer" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="onSaveRecipes()" style="cursor: pointer" class="">Save Data</a></li>
            <li><a (click)="onFetchRecipes()" style="cursor: pointer" class="">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

