<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div ngModelGroup="userdata" #userdata="ngModelGroup" id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input ngModel name="username" required type="text" id="username" class="form-control" />
          </div>
          <button (click)="suggestUserName()" class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input ngModel #email="ngModel" name="email" required email type="email" id="email" class="form-control" />
            <span *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid email</span>
          </div>
          <span *ngIf="!userdata.valid && userdata.touched" class="help-block">The user data is not correct yet</span>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select [ngModel]="defaultQuestion" name="secret" id="secret" class="form-control">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea [(ngModel)]="answer" class="form-control" name="questionAnswer" rows="3"></textarea>
        </div>
        <p>Your reply: {{ answer }}</p>
        <div *ngFor="let gender of genders" class="radio">
          <label><input [(ngModel)]="selectedGender" type="radio" name="gender" [value]="gender" />{{ gender }}</label>
        </div>
        <textarea
          ngModel
          *ngIf="selectedGender === 'other'"
          class="form-control"
          name="genderOtherValue"
          rows="1"
        ></textarea>
        <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div *ngIf="submitted" class="row">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Secret Question: {{ user.secret }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{ user.gender }}</p>
      <p *ngIf="user.gender === 'other'">Gender specified: {{ user.genderfield }}</p>
    </div>
  </div>
</div>

