<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onStart()">Start</button>
    <button class="btn btn-danger" (click)="onPause()">Pause</button>
  </div>
</div>

