<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userdata">
          <div class="form-group">
            <label for="username">Username</label>
            <input formControlName="username" type="text" id="username" class="form-control" />
            <span
              *ngIf="!signupForm.get('userdata.username').valid && signupForm.get('userdata.username').touched"
              class="help-block"
            >
              <span *ngIf="signupForm.get('userdata.username').errors['required']">This field is required</span>
              <span *ngIf="signupForm.get('userdata.username').errors['nameIsInvalid']"
                >This field is {{ signupForm.get('userdata.username').errors['nameIsInvalid'] }}</span
              >
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input formControlName="email" type="text" id="email" class="form-control" />
            <span
              *ngIf="!signupForm.get('userdata.email').valid && signupForm.get('userdata.email').touched"
              class="help-block"
              >Please enter a valid email</span
            >
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label> <input formControlName="gender" type="radio" [value]="gender" />{{ gender }} </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button (click)="onAddHobby()" class="btn btn-primary" type="button">Add hobbbies</button>
          <div *ngFor="let hobbyControl of hobbyControls; let i = index" class="form-group">
            <input [formControlName]="i" type="text" class="form-control" />
          </div>
        </div>
        <hr />

        <button class="btn btn-primary" type="submit">Submit</button>
        <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block">Please enter valid data</span>
      </form>
    </div>
  </div>
</div>

