<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" required ngModel name="title" />
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea class="form-control" id="content" required ngModel name="content"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!postForm.valid">Send Post</button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()" style="margin-right: 5px">Fetch Posts</button>
      <button class="btn btn-danger" [disabled]="loadedPosts.length < 1" (click)="onClearPosts()">Clear Posts</button>
    </div>
  </div>
  <div class="row">
    <div *ngIf="!isLoading && loadedPosts.length === 0" class="col-xs-12 col-md-6 col-md-offset-3">
      <p>No posts available!</p>
    </div>
    <div *ngIf="!isLoading && loadedPosts.length > 0" class="col-xs-12 col-md-6 col-md-offset-3">
      <ul class="list-group">
        <li *ngFor="let post of loadedPosts" class="list-group-item">
          <h3>{{ post.title }}</h3>
          <p>{{ post.content }}</p>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div *ngIf="isLoading && !error" class="spinner"></div>
        <div *ngIf="error" class="alert alert-danger">
          <h2>An Error Ocurred, Oh Noooooo!</h2>
          <p>{{ error.status }}: {{ error.statusText }}</p>
          <button (click)="onHandleError()" class="btn btn-danger">Okay, got it</button>
        </div>
      </div>
    </div>
  </div>
</div>

