<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeEditForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-cs-12">
          <button [disabled]="!recipeEditForm.valid" class="btn btn-success" type="submit">Save</button>
          <button [disabled]="!recipeEditForm.touched" (click)="onCancel()" class="btn btn-danger" type="button">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" class="form-control" type="" />
          </div>
          <div class="form-group">
            <label for="imagePath">Path to your image</label>
            <input #imagePath formControlName="imagePath" class="form-control" type="text" />
          </div>
        </div>
      </div>
      <div *ngIf="imagePath.value" class="row">
        <div class="col-xs-12"><img [src]="imagePath.value" alt="recipeImage" class="image-responsive" /></div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea formControlName="description" class="form-control" rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div formArrayName="ingredients" class="col-xs-12">
          <div
            *ngFor="let ingredientControl of ingredientControls; let i = index"
            [formGroupName]="i"
            class="row"
            style="margin-top: 10px"
          >
            <div class="col-xs-8">
              <input formControlName="name" class="form-control formm-control" type="text" />
            </div>
            <div class="col-xs-2">
              <input formControlName="amount" class="form-control form-control" type="number" />
            </div>
            <div (click)="deleteIngredient(i)" class="col-xs-2">
              <button class="btn btn-danger" type="button">X</button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div (click)="onAddIngredient()" class="col-xs-12">
              <button class="btn btn-success" type="button">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

