<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <label for="">Filter status </label>
      <input [(ngModel)]="filteredStatus" id="" type="text" name="" style="margin-bottom: 10px" />
      <hr />
      <button (click)="onAddServer()" class="btn btn-primary">Add server</button>
      <h2>app status: {{ appStatus | async }}</h2>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | sort: 'name' | filter: filteredStatus:'status'"
          [ngClass]="getStatusClasses(server)"
        >
          <span class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten: 8 }}</strong> | {{ server.instanceType | uppercase | reverse }} |
          {{ server.started | date: 'fullDate' | lowercase }}
        </li>
      </ul>
    </div>
  </div>
</div>

