<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive" style="max-height: 300px" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div col-xs-12>
    <div appDropdown class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe
        <span class="caret"> </span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onToShoppingList()" style="cursor: pointer">To Shopping List</a></li>
        <li><a [routerLink]="['edit']" style="cursor: pointer">Edit Recipe</a></li>
        <li><a (click)="onDeleteRecipe()" style="cursor: pointer">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
        {{ ingredient.name }}({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>

