<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <label for="Email">Email Adress</label>
        <input ngModel #email="ngModel" required email name="email" class="form-control" type="text" />
        <span *ngIf="!email.valid && email.touched" class="help-block">Email invalid or missing</span>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select
            [(ngModel)]="firstSub"
            (ngModelChange)="onSelectDropdownValue($event)"
            class="form-control"
            name="subscription"
          >
            <option *ngFor="let sub of subs" [ngValue]="sub" value="sub">
              {{ sub }}
            </option>
          </select>
        </div>
        <label for="password">Password</label>
        <input ngModel #password="ngModel" required name="password" class="form-control" type="text" />
        <span *ngIf="!password.valid && password.touched" class="help-block">passowr required</span>
        <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

