<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectName">ProjectName</label>
          <input formControlName="projectName" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input formControlName="email" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label for="status"></label>
          <select formControlName="status" id="status" class="form-control">
            <option *ngFor="let statusControl of statusControls" [value]="statusControl.value">
              {{ statusControl.value }}
            </option>
          </select>
        </div>
        <hr />
        <button class="btn btn-primary" type="submit">submit</button>
      </form>
    </div>
  </div>
</div>

