<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br /><br />
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let number of numbers">
          <p *ngIf="(number % 2 === 1) === onlyOdd" [ngClass]="{ odd: onlyOdd }">{{ number }}</p>
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let number of numbers">
          <p *appUnless="(number % 2 === 1) != onlyOdd" [ngClass]="{ odd: onlyOdd }">{{ number }}</p>
        </li>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>Styled me</p>
      <p appBetterHighlight [defaultBackroundColor]="'pink'">Styled me</p>
      <hr />
      <div [ngSwitch]="val">
        <p *ngSwitchCase="0">vak is 0</p>
        <p *ngSwitchCase="5">val is 5</p>
        <p *ngSwitchCase="10">val is 10</p>
        <p *ngSwitchDefault>val is anything else</p>
      </div>
    </div>
  </div>
</div>

