<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!-- <div *ngIf="error && !isLoading && !authForm.touched" class="alert alert-danger"> -->
    <!--   <p>{{ error }}</p> -->
    <!-- </div> -->
    <app-alert *ngIf="error" (close)="onHandleError()" [message]="error"></app-alert>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form *ngIf="!isLoading" [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <h3>{{ loginMode ? 'Please Login' : 'Please Sign up' }}</h3>
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input formControlName="email" id="Email" class="form-control" type="email" name="email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input #password id="password" class="form-control" type="password" formControlName="password" />
        <span
          *ngIf="authForm && authForm.get('password').errors?.required && authForm.get('password').touched"
          class="helper-block"
          >Password is required</span
        >
        <span
          *ngIf="authForm && authForm.get('password').errors?.minlength && authForm.get('password').touched"
          class="helper-block"
          >Password must contain at least 6 characters</span
        >
      </div>
      <div *ngIf="!loginMode" class="form-group">
        <label for="">Repeat Password</label>
        <input id="repeatPassword" class="form-control" type="password" formControlName="repeatPassword" />
        <span
          *ngIf="authForm && authForm.get('repeatPassword').errors?.required && authForm.get('repeatPassword').touched"
          class="helper-block"
          >Password is required</span
        >
        <span
          *ngIf="
            authForm &&
            authForm.get('repeatPassword').errors?.passwordsMismatch &&
            authForm.get('password').touched &&
            !authForm.get('repeatPassword').errors?.required
          "
          class="helper-block"
          >Passwords do not match</span
        >
      </div>
      <div>
        <button [disabled]="!authForm.valid" class="btn btn-primary" style="margin-right: 5px" type="submit">
          {{ loginMode ? 'Login' : 'Sign up' }}
        </button>
        <button (click)="onSwitchMode()" class="btn btn-primary" type="button">
          Switch to {{ loginMode ? 'Sign up' : 'Login' }}
        </button>
      </div>
    </form>
  </div>
</div>

