<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input ngModel required id="name" name="name" class="form-control" type="text" />
        </div>
        <div class="col-sm-2">
          <label for="amount">Amount</label>
          <input ngModel required pattern="^[1-9]+[0-9]*$" id="amount" name="amount" class="form-control" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button *ngIf="!editmode" [disabled]="!f.valid" class="btn btn-success" type="submit">Add</button>
          <button *ngIf="editmode" [disabled]="!f.valid" class="btn btn-success" type="submit">Update</button>
          <button [disabled]="!editmode" (click)="onDelete()" class="btn btn-danger" type="button">Delete</button>
          <button (click)="onClear()" class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>

