<div class="row">
  <div class="col-xs-12">
    <button [routerLink]="['new']" class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipe of recipes; let i = index" [index]="i"></app-recipe-item>
  </div>
</div>

