<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        *ngFor="let server of servers"
        [routerLink]="['/servers', server.id]"
        [queryParams]="{ allowEdit: server.id === 3 ? '1' : '0' }"
        [fragment]="'loading'"
        class="list-group-item"
      >
        {{ server.name }}
      </a>
      <hr />
      <button (click)="onReload()" class="btn btn-primary">Reload Page</button>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!-- <app-edit-server></app-edit-server> -->
    <!-- <hr /> -->
    <!-- <app-server></app-server> -->
  </div>
</div>

